<h3>Users List Component</h3>

<h4>Local Users</h4>
<span *ngIf="!users">loading ...</span>
<ul *ngIf="users">
    <li *ngFor="let user of users">{{user.username}}</li>
</ul>

<h4>Sample Users</h4>
<span *ngIf="!usersSample">loading ...</span>
<ul *ngIf="usersSample">
    <li *ngFor="let user of usersSample">
        <div>{{user.name}}: {{user.email}} &nbsp; &nbsp;
            <button (click)="onAddUser(user)">Add</button> &nbsp; <button (click)="onRemoveUser(user)">Remove</button>
        </div>
    </li>
</ul>

<h4>Mongo Users</h4>
<span *ngIf="!mongoUsers">loading ...</span>
<ul *ngIf="mongoUsers">
    <li *ngFor="let user of mongoUsers"
        (click)="onAddUser(user)">
        <div><strong>Username:</strong> {{user.username}}</div>
        <div><strong>Location:</strong> {{user.location}}</div>
    </li>
</ul>
